<footer class="main-footer">
  <!--<div class="pull-right hidden-xs">
    <b>Version</b>
    0.9
  </div>
-->
  <!-- <a href="http://www.saludinfantilvalledelcauca.co/">PAI Valle del Cauca</a>. -->
  <div style="text-align:right"><%= image_tag("logo-valle.png") %><%= image_tag("gob_valle.png") %> </div>
</footer>
